<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true" verbose="true">

    <testsuite name="CalDav Tests" >
        <directory>./library</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../library</directory>
        </whitelist>
    </filter>

</phpunit>